.hero {
    margin-top: 10%;
    text-align: center;
    font-style: italic;
    padding-bottom: 5%;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 600;
}

.top-section {
    position: relative;
    text-align: center;
}

.top-section h2 {
    text-transform: capitalize;
    padding-bottom: 30px;
}

.subheading {
    position: relative;
    font-family: "Sofia", sans-serif;
}

.subheading::before {
    position: absolute;
    top: 50%;
    right: -60px;
    content: "";
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: var(--primary-color);
}

.subheading::after {
    position: absolute;
    top: 50%;
    left: -60px;
    content: "";
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    margin-top: -1px;
    background: var(--primary-color);
}

.container {
    height: max-content;
}

.about {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.about-section {
    display: flex;
    justify-content: center;
}

.about-section .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/rental.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mission-vision {
    display: flex;
    justify-content: space-around;
}

.mission-vision .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/trust.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cores {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.values-section {
    display: flex;
    justify-content: space-around;
}

.values {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.values-section .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/core.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    width: 100%;
    height: 1px;
    margin: 12% 0;
    background-color: var(--primary-color);
}

.values-list {
    list-style-type: none;
    padding: 0;
}

.values-list li {
    font-size: var(--mobile-font-size);
    padding: 8px;
}

.values li::before {
    content: "✓";
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.hero h2 {
    padding: 5%;
}

@media screen and (max-width: 768px) {
    .about,
    .cores,
    .values {
        width: 100%;
        padding: 5%;
    }

    .about,
    .values {
        background-color: white;
    }

    .mission-vision {
        flex-direction: column;
        align-items: center;
    }

    .empty {
        display: none;
    }
    
    .values-list li {
        font-size: var(--mobile-font-size);
    }

    .values-list li::before {
        font-size: 1rem;
    }
}
