.container {
    height: max-content;
}

.about {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.about-section {
    display: flex;
    justify-content: center;
}

.about-section .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/rental.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mission-vision {
    display: flex;
    justify-content: space-around;
}

.mission-vision .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/trust.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cores {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.values-section {
    display: flex;
    justify-content: space-around;
}

.values {
    width: 50%;
    padding: 5%;
    background-color: var(--background-color);
}

.values-section .empty {
    width: 50%;
    padding: 5%;
    background-image: url('../assets/core.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: black;
}

.values-list {
    list-style-type: none;
    padding: 0;
}

.values-list li {
    font-size: 1.2rem;
    padding: 8px;
}

.values li::before {
    content: "✓";
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

h2 {
    font-size: 2rem;
    padding: 8px;
}

@media screen and (max-width: 768px) {
    .about,
    .cores,
    .values {
        width: 100%;
        padding: 5%;
    }

    .about,
    .values {
        background-color: white;
    }

    .mission-vision {
        flex-direction: column;
        align-items: center;
    }
    .empty {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .values-list li {
        font-size: 1rem;
    }
    .values-list li::before {
        font-size: 1rem;
    }
}
