.slider p {
    width: 33.5%;
}

.properties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: var(--grid-gap);
    align-items: center;
    justify-items: center;
    padding: 5%;
    width: 100%;
}

.prop-details {
    background: var(--linear-background);
    padding: 20px;
}

.extras-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--grid-gap);
    align-items: center;
    justify-items: center;
    padding: 10px 0;
}

.nav-item {
    cursor: pointer;
    padding: 2%;
}

.slider {
    width: 100%;
    padding-left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    text-align: laft;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-image: url('../assets/keys.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
}

.featured h2 {
    position: relative;
    background-color: #222222;
    margin: auto;
    margin-top: -25px;
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 1px #222222;
    border-radius: 14.7px;
    width: max-content;
    white-space: nowrap;
    text-align: center;
    z-index: .5;
}

.property img {
    width: 100%;
    object-fit: cover;
}

.filter {
    float: right;
    padding: 10px;
    padding-right: 5%;
    border-radius: 8px;
}

.filter select {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.extras {
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.extras-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extra {
    background: var(--linear-background);
    border-radius: 10px;
    padding: 35px;
    height: 200px;
}

.community {
    width: 100%;
    background: var(--linear-background);
    border-radius: 10px;
}

.testimonials {
    display: inline-block;
    width: 40%;
    padding: 1rem;
    overflow: hidden;
    vertical-align: top;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.testimonial-slider {
    display: flex;
    width: 100%;
    animation: scroll 60s linear infinite;
}

.testimonial-slider:hover {
    animation-play-state: paused;
}

.testimonial {
    flex: 0 0 100%;
    padding: 1rem;
    box-sizing: border-box;
    white-space: normal;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-500%);
    }
}

.newsletter {
    display: inline-block;
    width: 59%;
    padding: 1rem 5.2rem;
}

.newsletter > div {
    padding: 1rem 1rem 1rem 0;
}

.newsletter input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}


/* Media Frames */

@media screen and (max-width: 1080px) {
    .slider p {
        width: 100%;
        font-style: italic;
        font-size: var(--mobile-font-size);
    }

    .properties {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 5%;
    }

    .extras-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 10px 0;
    }


    .newsletter > div {
        padding: 1rem 1rem 1rem 0;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: var(--mobile-font-size);
    }

    .properties {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 5%;
    }

    .community {
        display: block;
        width: 100%;
        padding: 5%;
    }

    .testimonials {
        width: 100%;
        padding: 5%;
    }

    .newsletter {
        display: block;
        width: 100%;
        padding: 1rem 1rem 1rem 1.4rem;
    }

    .newsletter > div {
        padding: 1rem 1rem 1rem 0;
    }
}