.slider p {
    width: 33.5%;
}

.slider {
    width: 100%;
    padding-left: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    text-align: laft;
    font-weight: 600;
    background-image: url('../assets/keys.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
}

.properties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: var(--grid-gap);
    align-items: center;
    justify-items: center;
    padding: 5%;
    width: 100%;
}

.prop-details {
    background: var(--linear-background);
}

.prop-info {
    padding: 20px;
}

.prop-info h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.prop-details .def-btn {
    margin-top: 3.5% !important;
}

.non-featured {
    display: none !important;
}

.extras-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--grid-gap);
    align-items: center;
    justify-items: center;
    padding: 10px 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
}

.filter-section h2 {
    position: relative;
    background-color: #222222;
    margin: auto;
    margin-top: -25px;
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 1px #222222;
    border-radius: 14.7px;
    width: max-content;
    white-space: nowrap;
    text-align: center;
    z-index: .5;
}

.no-listings {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
    padding: 5%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.filter {
    float: right;
    padding: 10px;
    padding-right: 5%;
    border-radius: 8px;
}

.filter select {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.extras {
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.extras > h2,
.extra > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.extra {
    background: var(--linear-background);
    border-radius: 10px;
    padding: 35px;
    height: 100%;
}

/* Media Frames */

@media screen and (max-width: 1080px) {
    .slider p {
        width: 100%;
        font-style: italic;
        font-size: var(--mobile-font-size);
    }

    .properties {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 5%;
    }

    .extras-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 10px 0;
    }

}

@media screen and (max-width: 768px) {
    h1 {
        font-size: var(--mobile-font-size);
    }

    .properties {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--grid-gap);
        align-items: center;
        justify-items: center;
        padding: 5%;
    }
    
    .extras-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }
    
}